<section class="fixed inset-0 bg-red-200 text-center text-4xl rounded-lg p-10">
  <div class="mt-16">
    <p>Hi there! Welcome to quesadilla.io.</p>
    <p>My name is Ian and this is my personal website.</p>
    <p>🤖💻🐕</p>
    <br/>
    <p>I normally do Elixir stuff.</p>
    <div class="mt-48">
      Soon there will be more fun stuff here. 🥳
    </div>
  </div>
</section>